.input {
    margin-top: 160px;
}

.inputWrapper {
    width: 828px;
    margin: 0 auto;
}

.inputsItem {
    display: flex;
    justify-content: space-between;
}

.textInput {
    width: 525px;
}

.textButton {
    width: 274px;
    height: 59px;
    background: purple;
    border: none;
    font-size: 34px;
    color: #fff;
}

.category {
    display: none;
}

.about {
    display: none;
}

@media screen and (max-width: 900px) {
    .input {
        margin-top: 68px;
    }

    .inputWrapper {
        width: 345px;
        margin: 0 auto;
    }

    .textInput {
        width: 180px;
    }

    .textButton {
        width: 130px;
        height: 32px;
        font-size: 16px;
        font-weight: 600;
        font-family: 'Montserrat', sans-serif;
    }

    .category_items {
        position: absolute;
        margin-top: -79px;
        padding-left: 20px;
        line-height: 1.5;
    }

    .category {
        display: block;
        margin-top: 45px
    }

    .category_items h2 {
        font-size: 16px;
        text-transform: uppercase;
        margin-bottom: 10px;
    }

    .category_icons {
        display: flex;
        position: absolute;
        margin-top: 44%;
        color: #fff;
        margin-left: 20px;
        font-size: 17px;
        font-weight: 600;
    }

    .category_icons h5::after {
        content: '\2192';
        margin-left: 10px;
        line-height: 1;
    }

    ul {
        padding: 0;
    }

    .li-clr {
        color: #fff;
    }

    .category_items ul li {
        list-style-type: none;
    }

    .background {
        width: 100%;
        height: 212px;
        background-color: purple;
    }

    .icons {
        display: flex;
        justify-content: space-between;
    }

    .category_icons_img img {
        width: 30px;
        height: 30px;
        margin-left: 10px;
    }

    .category_icons_img {
        margin-left: 130px;
    }

    .about {
       display: block;
        margin-top: 41px;
    }

    .wrapper {
        width: 90%;
        margin: 0 auto;
    }

    .about h3 {
        font-size: 20px;
        font-weight: 600;
    }

    .about_heading {
        display: flex;
        justify-content: space-between;
    }

    .line {
        border-bottom: 1px solid #000;
        width: 140px;
        margin-bottom: 10px;
    }

    button {
        width: 130px;
        height: 32px;
        background: purple;
        border: none;
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        color: #fff;
        margin-top: 20px;
        font-weight: 600;
    }

    .sitemap ul li {
        list-style-type: none;
        padding-left: 0;
        line-height: 1.7;
    }

    .section_item {
        margin-top: 25px;
        display: flex;
        justify-content: space-between;
    }

    .section_item h3 {
        font-size: 16px;
    }

    .section_item {
        font-size: 16px;
    }

    .section_about {
        margin-left: 47px;
    }

    .section_about p {
        margin-top: 27px;
    }
}
