.banner {
    background-image: url('./../../../images/banner.png');
    width: 100%;
    height: 899px;
}

.banner_block {
    width: 100%;
    height: 899px;
    background: rgba(128, 27, 190, 0.26);
    filter: blur(78px);
}

.banner h1 {
    width: 80%;
    font-size: 64px;
    color: #fff;
    top: 650px;
    margin-left: 150px;
    position: absolute;
}
